<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
<br><br>
    
    <center><h1>All Users</h1></center>

    <table class="table">
        <tr>
            <th class="table_c">ID</th>
            <th class="table_c">First Name</th>
            <th class="table_c">Last Name</th>
            <th class="table_c">Email</th>
            <th class="table_c">Created At</th>
            <th class="table_c">Actions</th>
        </tr>
        {% for user in all_users %}
        <tr>
            <td class="table_c">{{ user.id }}</td>  
            <td class="table_c">{{ user.first_name }}</td>     
            <td class="table_c">{{ user.last_name }}</td>     
            <td class="table_c">{{ user.email }}</td>     
            <td class="table_c">{{ user.created_at }}</td>     
            <td class="table_c flex">
                <a href="/display_user/{{user.id}}">Show</a>&nbsp&nbsp
                <a href="/edit_user/{{user.id}}">Edit</a>&nbsp&nbsp
                <a href="/delete_user/{{user.id}}">Delete</a>
            </td>     
        </tr>      
        {% endfor %}
    </table>

    

<br>
<center><a href="/new"><input type="submit" value="Add a New User" class="adduser_btn"></a></center>

</body>
</html>